<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Insight CRM</title>
        <link rel="stylesheet" href="/static/assets/css/uikit.min.css" />
        <script src="/static/assets/js/jquery-2.1.4.js"></script>
        <script src="/static/assets/js/uikit.min.js"></script>
    </head>
    <body>
        <nav class="uk-navbar">
            <div class="uk-container uk-container-center">
                <a class="uk-navbar-brand uk-hidden-small" href="/"><img class="uk-margin uk-margin-remove" src="/static/assets/images/insight.svg" width="30" height="30" title="Insight" alt="Insight"></a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    
                </ul>
            </div>
        </nav>

    </body>
</html>