<!DOCTYPE html>
<html>
<head lang="ru">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/uikit.min.css" />
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/utility.min.js"></script>
    <meta charset="UTF-8">
    <title>
        Insight CMS {% block title %}{% endblock %}
    </title>
</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>