{% extends 'base.html' %}

{% block title %}
    &nbsp;-&nbsp;mainpage
{% endblock %}

{% block content %}

{#        <div class="uk-container-center">#}
            <h3>Для регистрации в системе введите свой адрес электронной почты</h3>
            <form action="/mailrequest" method="post" name="emailform" class="uk-form">
                <fieldset data-uk-margin>
                    {% csrf_token %}
                    <label for="email">Email:</label><input type="email" name="email" id="email" required>
                    <button class="uk-button" type="submit">Ok</button>
                </fieldset>
            </form>
{#        </div>#}

{% endblock %}