<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
<head>
	<meta charset="utf-8" /> 
    <link href="/static/assets/css/uikit.min.css" />
	<link id="data-uikit-theme" rel="stylesheet" href="/static/assets/css/uikit.docs.min.css" />
	<link rel="stylesheet" href="/static/assets/css/docs.css">
	<link rel="stylesheet" href="/static/assets/css/highlight.css">
    <script src="/static/assets/js/jquery-2.1.4.js"></script>
    <script src="/static/assets/js/uikit.min.js"></script>
</head>

    <body class="">
        <div class="tm-section tm-section-color-1 tm-section-colored">
            <div class="uk-container uk-container-center uk-text-center">
                <img class="tm-logo" src="/static/assets/images/insight.svg" width="150" height="150" title="Insight" alt="InsightCRM">
                <h1>Insight CRM<br class="uk-hidden-small"></h1>
                <p class="uk-text-large">система управления инцидентами</p>
                <form class="uk-form">
                    <fieldset>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="email">E-mail:</label>
                            <div class="uk-form-controls">
                                <input class="email" type="email" placeholder="name@domain.org" name="email">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="password">Пароль:</label>
                            <div class="uk-form-controls">
                                <input class="password" type="password" name="password" />
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button class="uk-button" type="submit">Вход</button>
                        </div>
                    </fieldset>
                </form>
                <br />
                <form class="uk-form">
                    <fieldset>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="email_reg">или введите e-mail для регистрации:</label>
                            <div class="uk-form-controls">
                                <input class="email_reg" type="email" placeholder="name@domain.org" name="email_reg" />
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button class="uk-button" type="submit">Регистрация</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>